In [2]:
import pandas as pd

In [2]:
ppl = pd.read_csv ('../data/People_Processed.csv')

In [3]:
ppl.columns

Index(['PERSON_ID', 'PERSON_TYPE', 'RD_NO', 'VEHICLE_ID', 'CRASH_DATE', 'CITY',
       'STATE', 'SEX', 'AGE', 'SAFETY_EQUIPMENT', 'AIRBAG_DEPLOYED',
       'EJECTION', 'INJURY_CLASSIFICATION', 'DRIVER_ACTION', 'DRIVER_VISION',
       'PHYSICAL_CONDITION', 'BAC_RESULT', 'DAMAGE_CATEGORY', 'DAMAGE', 'YEAR',
       'MONTH', 'DAY', 'TIME'],
      dtype='object')

In [4]:
vei = pd.read_csv ('../data/Vehicles_Processed.csv')

In [5]:
vei.columns

Index(['CRASH_UNIT_ID', 'RD_NO', 'CRASH_DATE', 'UNIT_NO', 'UNIT_TYPE',
       'VEHICLE_ID', 'MAKE', 'MODEL', 'LIC_PLATE_STATE', 'VEHICLE_YEAR',
       'VEHICLE_DEFECT', 'VEHICLE_TYPE', 'VEHICLE_USE', 'TRAVEL_DIRECTION',
       'MANEUVER', 'OCCUPANT_CNT', 'FIRST_CONTACT_POINT', 'YEAR', 'MONTH',
       'DAY', 'TIME'],
      dtype='object')

In [3]:
crash = pd.read_csv ('../data/Crashes_Processed.csv')

In [4]:
crash.columns

Index(['RD_NO', 'CRASH_DATE', 'POSTED_SPEED_LIMIT', 'TRAFFIC_CONTROL_DEVICE',
       'DEVICE_CONDITION', 'WEATHER_CONDITION', 'LIGHTING_CONDITION',
       'FIRST_CRASH_TYPE', 'TRAFFICWAY_TYPE', 'ALIGNMENT',
       'ROADWAY_SURFACE_COND', 'ROAD_DEFECT', 'REPORT_TYPE', 'CRASH_TYPE',
       'DATE_POLICE_NOTIFIED', 'PRIM_CONTRIBUTORY_CAUSE',
       'SEC_CONTRIBUTORY_CAUSE', 'STREET_NO', 'STREET_DIRECTION',
       'STREET_NAME', 'BEAT_OF_OCCURRENCE', 'NUM_UNITS', 'MOST_SEVERE_INJURY',
       'INJURIES_TOTAL', 'INJURIES_FATAL', 'INJURIES_INCAPACITATING',
       'INJURIES_NON_INCAPACITATING', 'INJURIES_REPORTED_NOT_EVIDENT',
       'INJURIES_NO_INDICATION', 'INJURIES_UNKNOWN', 'CRASH_HOUR',
       'CRASH_DAY_OF_WEEK', 'CRASH_MONTH', 'LATITUDE', 'LONGITUDE', 'LOCATION',
       'DELTA_TIME_CRASH_DATE_POLICE_REPORT_DATE'],
      dtype='object')

In [5]:
crashFilter = crash[['CRASH_DATE']]

In [8]:
crash['CRASH_HOUR']

0          0
1         23
2         23
3         23
4         23
          ..
257920    20
257921    16
257922    19
257923     7
257924    18
Name: CRASH_HOUR, Length: 257925, dtype: int64

In [6]:
crashFilter

                    CRASH_DATE
0       01/12/2019 12:01:00 AM
1       01/11/2019 11:36:00 PM
2       01/11/2019 11:31:00 PM
3       01/11/2019 11:22:00 PM
4       01/11/2019 11:08:00 PM
...                        ...
257920  11/11/2014 08:00:00 PM
257921  08/20/2014 04:50:00 PM
257922  02/24/2014 07:45:00 PM
257923  01/21/2014 07:40:00 AM
257924  01/18/2014 06:14:00 PM

[257925 rows x 1 columns]